/* styles.css */
body {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 600;
    background-color: #FFFDF5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 415px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}

.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.labels span {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    text-align: center;
    width: 114px;
    height: 31px;
    background: #FCC879;
    border: 2px solid #FCC879;
    
    /* Drop Shadow/300 */
    box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
    border-radius: 8px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto; /* Allows horizontal scrolling */
    padding: 10px 0;
}

.box {
    flex: 1 1 calc(33.333% - 20px); /* Three boxes per row, minus the gap */
    min-width: calc(33.333% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    width: 236px;
    height: 237px;


}

/* add-page css components */
#image-upload-box {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border: 1px dashed #929292;
    border-radius: 30px;
    background-color: #f1f0e8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    margin: auto;
}
#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
}
#imageUpload {
    display: none;
}

.tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 50px;
}
.tag>* {
    flex: 0 0 20%;
    background-color: #C0F1E7;
    border: 1px solid #8acdbf;
    text-align: center;
    border-radius: 8px;
}

.input-box {
    background-color: #e5e0e8;
    border: 0;
    border-bottom: 2px solid #a389b2;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
}

.button-style {
    border-radius: 30px;
    color: #ffffff;
    padding: 15px 0px;
    width: 140px;
    border: 0;
}

main {
    margin: 2%;
}

