/* styles.css */
body {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 600;
    background-color: #FFFDF5;
    color: #757575;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Nunito';
    color: #757575;
    font-size: 2em; /* Adjust the size as needed */
}

button {
    font-family: 'Nunito';
    color: #757575;
}

.round-top-corners {
    width: 100%;                /* Make the image fill the width of the container */
    height: auto;               /* Maintain the aspect ratio of the image */
    border-top-left-radius: 12px; /* Round the top-left corner */
    border-top-right-radius: 12px; /* Round the top-right corner */
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.edit-button{ 
    border:none;
    background: none;
    text-decoration: underline;
}
.head-foot-container {
    margin: 10px;
}

.title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.icons-container {
    flex: 1;
    display: flex;
    /*justify-content: flex-end;*/
}

.icon {
    flex: 1;
    display: flex;
    /*justify-content: flex-end;*/
}

.profile-image {
    width: 100px;  /* Set a specific width */
    height: 90px; /* Set a specific height */
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: 100%; /* Ensure image does not exceed container height */
    min-width: 100px;
    min-height: 90px;
    object-fit: cover;  /*gets rid of distortion*/
    cursor: pointer;

}

.post-icon {
    width: 37px;  /* Set a specific width */
    height: 30px; /* Set a specific height */
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: 100%; /* Ensure image does not exceed container height */
    object-fit: cover;  /*gets rid of distortion*/

}

.logo {
    width: 100px;  /* Set a specific width */
    height: 90px; /* Set a specific height */
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: 100%; /* Ensure image does not exceed container height */
    min-width: 100px;
    min-height: 90px;
    object-fit: cover;  /*gets rid of distortion*/

}

.search-bar {
    display: flex;
    flex: 2;
    margin-right: 50px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    border-radius: 28px;
    background-color: rgba(255, 166, 158, 0.3);
    width: 100%;
    max-width: 600px;
}

.search-bar input {
    flex: 2;
    width: 415px;
    padding: 10px;
    padding-left: 20px;
    color: #757575;
    font-size: 16px;
    height: 50px;
    border-radius: 28px;
    background: none;
    border: none;
}

.search-button {
    right: 5px;
    background: none;
    border: none;
    color: #757575;
    font-size: 20px;
    right: 5px;
}

.search-button:hover i {
    color: #4f4e4e;
}

.favorite-button {
    right: 5px;
    background: none;
    border: none;
    /* color: #757575; */
    font-size: 20px;
    right: 5px;
    max-height: 20px;
}

.fixed-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed; /* Fixes the button relative to the viewport */
    bottom: 5px; 
}

.message-icon {
    margin: 0; /* Remove left margin for the left button */
}

.add-icon {
    margin-right: 20px; /* Remove right margin for the right button */
}

.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
/*these are the dropdowns*/
.label {
    min-width: 100px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Nunito';
    color: #757575;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    flex: 1;
    text-align: left;
    height: 31px;
    border-radius: 4px;
    width: fit-content;

    /* Drop Shadow/300 */
    box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
    border-radius: 8px; 
}

.show {
    display: block;
}


.dropdown-content {
    
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow:hidden;
    border: 1px solid;

  }

  .dropdown-label {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 10px solid #ccc;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #757575;
    padding: 10px;
    min-width: 100px;
    transition: background-color 0.3s ease;
    
  }
  .dropdown-label:hover {
    /* filter: brightness(80%); */
    opacity: 0.8;
    color: #333;
}

  

  .horizontal {
    display: flex;
    
  }


/*not using for now*/
.labels span {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    text-align: center;
    width: 114px;
    height: 31px;
    background: #FCC879;
    border: 2px solid #FCC879;
    margin: 5px;
    
    /* Drop Shadow/300 */
    box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
    border-radius: 8px; 
}





.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto; /* Allows horizontal scrolling */
    padding: 10px 0;
}

.box {
    cursor: pointer;
    flex: 1 1 calc(33.333% - 20px); /* Three boxes per row, minus the gap */
    min-width: calc(33.333% - 20px);
    background-color: #FFEDAC;
    border: 1px solid #ccc;
    border-radius: 12px; /*increased this*/
    box-sizing: border-box;
    font-size: 18px;
    height: 300px;
    width: 33%;
    font-family: 'Nunito';
    color: #757575;
    
    /*removed padding*/
}

.box:hover {
    border-width: 4px; 
    border-color: #D3E79B;
    /*transform: scale(1.05);  Slightly increase size on hover */
}

.box-title {
    color: #4f4e4e;
    display: flex;
    align-items: center;
}

.box-description {
    font-size: 17px;
    
}

.bottom-half {
    flex: 1;                    /* Make the top half take up half the height */
    overflow: hidden;           /* Hide overflow to maintain aspect ratio */
}

.top-half {
    height: 50%;             /* Make the top section take up one-third of the height */
    overflow: hidden;          /* Hide overflow to maintain aspect ratio */
}

.top-half {
    flex: 1;                    /* Make the top half take up half the height */
    overflow: hidden;           /* Hide overflow to maintain aspect ratio */
}

.top-half img {
    width: 100%;                /* Make the image fill the width */
    height: 100%;               /* Make the image fill the height */
    object-fit: cover;          /* Ensure the image covers the area */
}

.bottom-half {
    flex: 1;                    /* Make the bottom half take up half the height */
    display: flex;
    /*flex-direction: column;
    align-items: center;
    justify-content: center;*/
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: hidden;
    /*text-overflow: ellipsis;   Show '...' for overflowing text */
    /*box-sizing: border-box; */
}

/* add-page css components */
#image-upload-box {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border: 1px dashed #929292;
    border-radius: 30px;
    background-color: #f1f0e8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    margin: auto;
}
#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
}
#imageUpload {
    display: none;
}

.tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 50px;
}
.tag>* {
    flex: 0 0 20%;
    /* background-color: #C0F1E7;
    border: 1px solid #8acdbf; */
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);

}
.display-tag {
    width: 100%;
    height: auto;
    font-size: 12px;
    flex-wrap: wrap;
    overflow: hidden;

    

}
.display-tag-item{
     height: auto;
     flex: 1 1 auto;
     text-align: center;
     padding: 5px;
     margin: 5px;
     display: inline-block;
    
     border-radius: 8px;
     box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
}

.input-box {
    background-color: #FFE3DA;
     /* background-color: #e5e0e8; */
    border: 0;
    border-bottom: 2px solid #a389b2;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
}

.button-style {
    border-radius: 30px;
    color: #ffffff;
    padding: 15px 0px;
    width: 140px;
    border: 0;
}

/* message page css components */
img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
  
.message-bar {
    display: flex;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    border-radius: 28px;
    background-color: rgba(255, 166, 158, 0.3);
    width: 50%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    
}

.message-bar input {
    flex: 2;
    width: 415px;
    padding: 10px;
    padding-left: 20px;
    color: #757575;
    font-size: 16px;
    height: 50px;
    border-radius: 28px;
    background: none;
    border: none;
}

.chat-bubble-receive p {
    background: #42a5f5;
    color: #fff !important;
    border-radius: 20px 20px 3px 20px;
    display: block;
    max-width: 75%;
    padding: 7px 13px 7px 13px;
    float: right;
    margin: 20px 40px;
}

.chat-bubble-send p {
    background: #f1f1f1;
    color: #000 !important;
    border-radius: 20px 20px 20px 3px;
    display: block;
    max-width: 75%;
    padding: 7px 13px 7px 13px;
    left: 0;
    float: left;
    margin: 10px 40px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.lightblue{
    background-color: #C0F1E7;
    border: 1px solid #8acdbf;
}
.orange{
    background-color: #FCC879;
    border: 1px solid #e3ab57;
}
.pink{
    background-color:#FFD0CC ;
    border: 1px solid #e1b4b0;

}
.blue{
    background-color: #AED9E0;
    border: 1px solid #6ea499;

}
.green{
    background-color: #D3E79B; 
    border: 1px solid #adbe7e;
}
.side-panel-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.side-panel {
    position: fixed;
    top: 0;
    right: -500px; /* Hide the side panel off-screen initially */
    width: 300px;
    height: 100%;
    background-color: #fcf4d4;
    color: #000000;
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.side-panel-open {
    right: 0; /* Slide the panel into view */
}

.side-panel-close {
    background-color: transparent;
    color:black;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.side-panel-content {
    /* Optional styling for the description text */
    color:#929292;
    font-family: 'Nunito';
}

.side-title {
    /* Optional styling for the description text */
    color:black;
    font-family: 'Nunito';
    font-size: 2.5em;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(209, 206, 206, 0.50); /* Light gray overlay with some transparency */
    z-index: 999; /* Ensure it's above other content */
    transition: opacity 0.3s ease;
    opacity: 0; /* Hidden by default */
    /* shaded */



    background: rgba(131, 131, 131, 0.5);

}

.overlay-active {
    display: block; /* Show the overlay */
    opacity: 1; /* Make the overlay fully opaque */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ccc;
    border-radius: 12px; */
    padding: 10px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 30px;
    margin: 2.5% 20%;
}

input[type="text"] {
    font-family: 'Nunito';
}

/* Styles for the popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    text-align: center;
}
.popup.active {
    display: block; /* Show the popup */
}
.popup .close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.overlay.active {
    display: block;
}
#image-id{
    height: 200px;
    width: 300px;
}

.vast-shadow-regular {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
  }